.grid-container{
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
}

body{

    background-color: black;
    color: green;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }